openapi: 3.0.4
info:
  title: URL Encoder/Decoder
  description: >-
    URL Encoder/Decoder is a tool for encoding and decoding URL strings. It
    converts special characters to percent-encoded format and decodes them back
    for safe URL transmission.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/urlencode:
    post:
      summary: URL Encode
      description: Encode text to URL-safe format (percent-encoding)
      operationId: urlencode
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  action: encode
                  original: Hello World & Goodbye
                  encoded: Hello%20World%20%26%20Goodbye
                  length: 29
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The text to encode
                action:
                  type: string
                  description: The action to perform
              required:
                - text
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  text: Hello World & Goodbye
  action: encode
